MONGODB_URI=
ADMIN_PIN=
ADMIN_ALLOWED_PHONES=
ADMIN_SESSION_SECRET=
CUSTOMER_SESSION_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
DIGIVEE_BASE_LAT=
DIGIVEE_BASE_LNG=
VITE_ADMIN_PATH=
VITE_ADMIN_WA_NUMBER=
VITE_INSTAGRAM_URL=
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_VAPID_PUBLIC_KEY=
